<h3>Install</h3>
<p>
  Run the curl command to install the binary into your current <code>$PWD</code>.
  <br>
  <code>\curl -sSL https://www.acksin.com/strum/install.sh | bash</code>
</p>


<h3>Download</h3>
<p>
  <ul>
    <% ["Linux"].each do |os| %>
      <% ["x86_64"].each do |arch| %>
        <li>
          <a onclick="ga('send', 'event', 'Validation', 'Download <%= product.upcase %>', 'Validation Download <%= product.upcase %> <%= version %>');" href="https://assets.acksin.com/<%= product %>/<%= version %>/<%= product %>-<%= os %>-<%= arch %>-<%= version %>.tar.gz"><%= product %>-<%= os %>-<%= arch %>-<%= version %>.tar.gz</a>
        </li>
        <% end %>
    <% end %>
  </ul>
</p>
